<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="weld_robot">

  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="name" default="ur"/>

  <xacro:include filename="$(find ur_moveit_config)/srdf/ur_macro.srdf.xacro"/>

  <xacro:ur_srdf name="$(arg name)" prefix="$(arg prefix)"/>

  <group name="hand">
    <link name="tool0"/>
    <link name="weld_torch_base"/>
    <link name="weld_torch_tip"/>
  </group>

  <group name="end_effector">
    <link name="weld_torch_tip"/>
  </group>

  <disable_collisions link1="tool0" link2="weld_torch_base" reason="Adjacent"/>
  <disable_collisions link1="wrist_3_link" link2="weld_torch_base" reason="Adjacent"/>
  <disable_collisions link1="weld_torch_base" link2="weld_torch_tip" reason="Adjacent"/>

</robot>