<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="workpiece">

  <xacro:property name="plate_length" value="0.5" />
  <xacro:property name="plate_width" value="0.25" />
  <xacro:property name="plate_height" value="0.01" />

  <link name="world"/>

  <link name="plate1_link">
    <visual>
      <geometry>
        <box size="${plate_length} ${plate_width} ${plate_height}"/>
      </geometry>
      <material name="DarkGrey">
        <color rgba="0.2 0.2 0.2 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="${plate_length} ${plate_width} ${plate_height}"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0.1" ixy="0.0" ixz="0.0" iyy="0.1" iyz="0.0" izz="0.1"/>
    </inertial>
  </link>

  <gazebo reference="plate1_link">
    <material>Gazebo/DarkGrey</material>
  </gazebo>

  <joint name="plate1_joint" type="fixed">
    <parent link="world" />
    <child link="plate1_link" />
    <origin xyz="0.35 0.126 0.405" rpy="0 0 0"/>
  </joint>

  <link name="plate2_link">
    <visual>
      <geometry>
        <box size="${plate_length} ${plate_width} ${plate_height}"/>
      </geometry>
      <material name="DarkGrey">
        <color rgba="0.2 0.2 0.2 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="${plate_length} ${plate_width} ${plate_height}"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0.1" ixy="0.0" ixz="0.0" iyy="0.1" iyz="0.0" izz="0.1"/>
    </inertial>
  </link>

  <gazebo reference="plate2_link">
    <material>Gazebo/DarkGrey</material>
  </gazebo>

  <joint name="plate2_joint" type="fixed">
    <parent link="world" />
    <child link="plate2_link"/>
    <origin xyz="0.35 -0.126 0.405" rpy="0 0 0"/>
  </joint>

</robot>